/**
 * Base/typography stylesheet
 *
 * Table of contents
 * 1) Headings
 * 2) Extras
 * 3) Resets
 */



/**
 * 1) Headings
 */

h1, .t-alpha,
h2, .t-beta,
h3, .t-charlie,
h4, .t-delta {
  display: block;
  margin-top: 0;
  margin-bottom: $baseline;
  line-height: 1.25;
}

h1, .t-alpha { font-size: 2.25rem; font-weight: 200; }
h2, .t-beta { font-size: 1.875rem; font-weight: 400; }
h3, .t-charlie { font-size: 1.5rem; font-weight: 400; }
h4, .t-delta { font-size: 1.25rem; font-weight: 600; }



/**
 * 2) Extras
 */

.intro { font-size: 1.25rem; }



/**
 * 3) Resets
 */

blockquote,
pre,
p,
ul,
ol,
dl,
hr {
  margin-top: 0;
}

blockquote,
pre,
p,
ul,
ol,
dl,
hr,
form,
table {
  margin-bottom: $baseline;
}

ul > :last-child,
ol > :last-child,
dl > :last-child,
blockquote > :last-child {
  margin-bottom: 0;
}
