/**
 * Layout/container stylesheet
 *
 * Table of contents
 * 1) Block
 * 2) Element
 * 3) Modifier
 */



/**
 * 1) Block
 */

.icon {
  display: inline-block;
  background-size: contain;
  width: 320px;
  height: 320px;
}



.icon-bell {}



/**
 * 2) Element
 */



/**
 * 3) Modifier
 */
